---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Intro from '../components/Intro.astro'
import Bento from '../components/Bento.astro'
import Footer from '../components/Footer.astro'
import Galeria from '../components/Galeria.astro'
---

<Layout
  title="PRECCO: Proyecto ecológico de comunidades"
  description="Proyecto ecológico de comunidades"
>
  <Header />
  <Intro img="/fondo-sostenible.webp">
    <img
      class="w-56 md:w-80 hidden md:block"
      src="/precco-logo-blanco.webp"
      alt="Imagen del logotipo de precco"
    />
    <h2
      class="geist-bold text-3xl text-balance px-5 mb-5 md:text-center text-white"
    >
      Proyecto Ecológico de Comunidades
    </h2>

    <a
      class="border-2 border-orange-400/50 rounded-lg px-2 py-1 bg-orange-400/80 text-white text-pretty mx-5"
      href="https://shorturl.at/vCN07"
      target="_blank">Objetivo 11: Ciudades y Comunidades Sostenibles</a
    >
  </Intro>
  <Galeria />
  <Bento />
  <Footer />
</Layout>

<style>
  @keyframes flip-up {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  img {
    animation: flip-up 2.5s ease-in-out infinite;
  }
</style>
