---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Intro from '../components/Intro.astro';
import IntroLetras from '../components/IntroLetras.astro';
import Descripcion from '../components/Descripcion.astro';
import Bento from '../components/Bento.astro';
import BentoVentajas from '../components/BentoVentajas.astro';
import IntroVentajas from '../components/IntroVentajas.astro';

---

<Layout title="PRECCO: Ventajas del proyecto frente a las comunidades actuales." description='Proyecto ecológico de comunidades: Ventajas sobre el modelo actual de comunidades.'>
	<Header />
	<IntroVentajas img='/fondo-sostenible2.JPG'>
		<h1 class="geist-bold text-3xl lg:text-4xl text-balance px-5 mb-20 text-left md:text-center">VENTAJAS DEL <strong class="text-[#7DB569] geist-black">PROYECTO ECCO</strong> FRENTE A LAS COMUNIDADES ACTUALES</h1>
	</IntroVentajas>
	<BentoVentajas />
	
  
</Layout>

<style>

</style>
