---
interface Props {
  class?: string
  title: string,
  description?: string
}

const { title, description } = Astro.props
---

<article
  class={`
${Astro.props.class}
relative rounded-xl backdrop-blur-md border border-black/20 shadow inner shadow-green-300 overflow-hidden `}
>

<!-- Fondo degradado en negro -->
<div class="absolute z-10 bottom-0 top-0 w-full h-full bg-gradient-to-b from-transparent from-35% via-black/50 to-black">

</div>
  <div class="absolute bottom-2 left-0 z-50 text-white px-2 md:px-5">
    <p class="text-xl md:text-2xl">{title}</p>
    <p class="text-sm md:text-base text-pretty">{description}</p>
  </div>

  <slot name="image" />
</article>
