---
import BentoItem from './BentoItem.astro'
import BentoVentajasItem from './BentoVentajasItem.astro'
---

<section>
  <article id="bento" class="w-full max-w-full h-full mb-10 z-50">
    <!-- IMAGEN DE LOS TEJADOS -->
    <section class="relative img1 overflow-hidden">
      <div
        class="select-none absolute left-0 top-0 bottom-0 right-0 bg-cover bg-center bg-no-repeat w-full h-full
        bg-blend-luminosity"
        style="background-image: url(/tejados.webp);"
      >
      </div>
    </section>

    <!-- TEXTO DE LOS TEJADOS -->
    <section
      class="txt1 bg-[#a8cdad]/80 flex flex-col justify-center items-center text-left text-black px-4 gap-3 md:px-6 lg:px-12 lg:gap-5 xl:pr-24"
    >
      <h2
        class="group-right text-[20px] md:text-lg lg:text-2xl xl:text-4xl geist-bold text-balance"
      >
        CLAVES FUNDAMENTALES PARA LAS CIUDADES SOSTENIBLES
      </h2>
      <p
        class="group-right text-[14px] md:text-[16px] lg:text-[18px] geist-light text-pretty"
      >
        La <strong>adopción de energía renovable</strong> y <strong
          >vegetación en los tejados</strong
        > representa una revolución en la construcción ecológica, contrastando significativamente
        con las limitaciones de las ciudades modernas. Estas prácticas no solo reducen
        la dependencia de fuentes de energía contaminantes y mejoran la autosuficiencia
        energética, sino que también proponen un modelo de desarrollo que armoniza
        con el medio ambiente y mejora la calidad de vida de sus habitantes.
      </p>
    </section>

    <section
      class="txt2 bg-[#283f2c] flex flex-col justify-center items-center text-left text-white/80 px-4 gap-3 md:px-6 lg:px-12 lg:gap-5 xl:pr-24"
    >
      <h2
        class="group-left text-4xl lg:text-5xl lg:leading-tight geist-bold text-balance"
      >
        UN <br />NUEVO DISEÑO URBANO
      </h2>
      <p
        class="group-left text-[16px] leading-[1.6] md:text-[16px] lg:text-[18px] geist-light text-pretty"
      >
        La construcción horizontal y de menor altura presenta ventajas
        significativas frente al modelo vertical actual predominante.
      </p>
    </section>

    <!-- IMAGEN DE COMPARACIÓN -->
    <section class="relative img2">
      <div
        class="select-none absolute left-0 top-0 bottom-0 right-0 bg-cover bg-center bg-no-repeat w-full h-full
        bg-blend-luminosity"
        style="background-image: url(/comparacion.webp);"
      >
      </div>
    </section>

    <!-- TEXTO DE UN NUEVO DISEÑO URBANO -->
    <section
      class="txt3 bg-[#7aae82] flex flex-col justify-center items-center text-left text-black px-4 gap-3 md:px-6 lg:px-12 lg:gap-5"
    >
      <p
        class="group-right text-[16px] leading-[1.6] md:text-[14px] lg:text-[15px] xl:text-[18px] geist-light text-pretty"
      >
        Una de las principales ventajas es la facilitación del flujo de aire,
        evitando la creación de "barreras" urbanas que impiden el paso del
        viento. Esto es crucial para la dispersión natural de contaminantes y
        para la reducción del efecto de isla calórica, problemas comunes en
        entornos urbanos densamente construidos. Además, la construcción
        horizontal promueve una mayor conexión con el entorno natural,
        permitiendo la integración de espacios verdes y áreas recreativas.
      </p>
    </section>

    <!-- TEXTO DE CORREDOR -->
    <section
      class="txt4 bg-[#e6f2e7]/80 flex flex-col justify-center items-start text-left text-black px-4 gap-3 md:px-6 lg:px-12 lg:gap-5"
    >
      <h2
        class="group-left text-[22px] md:text-lg lg:text-2xl xl:text-5xl geist-bold text-balance"
      >
        CONECTANDO ECOSISTEMAS
      </h2>
      <p
        class="group-left text-[14px] md:text-[16px] lg:text-[18px] geist-light text-pretty"
      >
        Las ciudades ecológicas desempeñan un papel crucial como corredores
        ecológicos, facilitando la conectividad entre distintos hábitats y
        mitigando la fragmentación y aislamiento de los ecosistemas, problemas
        generados por la expansión urbana tradicional. Los corredores no solo
        permiten el movimiento y la dispersión de especies de flora y fauna,
        sino que también promueven la biodiversidad al proporcionar rutas
        seguras para la migración y el intercambio genético entre poblaciones
        aisladas.
      </p>
    </section>

    <!-- IMAGEN DE CORREDOR -->
    <section class="relative img3">
      <div
        class="select-none absolute left-0 top-0 bottom-0 right-0 bg-cover bg-center bg-no-repeat w-full h-full
        bg-blend-luminosity"
        style=`background-image: url(/corredor.webp)`
        ;
      >
      </div>
    </section>

    <!-- TEXTO DE LA COMPARACIÓN DE CIUDADES -->
    <section
      class="txt5 bg-[#375d3d] flex flex-col justify-center items-center text-left md:text-center text-white/80 px-4 gap-3 md:px-6 lg:px-12 lg:gap-5"
    >
      <h2
        class="group-up text-2xl lg:text-3xl lg:leading-tight geist-bold text-balance xl:text-wrap xl:px-44"
      >
        DE GRIS A VERDE: CONTRASTES ENTRE LA CIUDAD ACTUAL Y SU FUTURO ECOLÓGICO
      </h2>
      <p
        class="group-up text-[16px] leading-[1.6] md:text-[16px] lg:text-[18px] geist-light text-pretty"
      >
        Explora la transformación de espacios urbanos densamente construidos y
        contaminados hacia entornos sostenibles y llenos de vida
      </p>
    </section>

    <section class="relative img4">
      <div
        id="image1"
        class="imagen select-none absolute left-0 top-0 bottom-0 right-0 bg-cover bg-center bg-no-repeat w-full h-full
        bg-blend-luminosity"
        style=`background-image: url(/maqueta-ciudad.webp);`
        ;
      >
      </div>
      <div
        id="image2"
        class="imagen oculta select-none absolute left-0 top-0 bottom-0 right-0 bg-cover bg-center bg-no-repeat w-full h-full
        bg-blend-luminosity"
        style=`background-image: url(/ciudad.webp);`
        ;
      >
      </div>
      <div
        id="image3"
        class="imagen oculta select-none absolute left-0 top-0 bottom-0 right-0 bg-cover bg-center bg-no-repeat w-full h-full
        bg-blend-luminosity"
        style=`background-image: url(/panoramica-ciudad.webp);`
        ;
      >
      </div>
      <div
        id="image4"
        class="imagen oculta select-none absolute left-0 top-0 bottom-0 right-0 bg-cover bg-center bg-no-repeat w-full h-full
        bg-blend-luminosity"
        style=`background-image: url(/calle-ciudad.webp);`
        ;
      >
      </div>
    </section>

    <section class="relative img5">
      <div
        id="image6"
        class="imagen select-none absolute left-0 top-0 bottom-0 right-0 bg-cover bg-center bg-no-repeat w-full h-full
        bg-blend-luminosity"
        style=`background-image: url(/maqueta-sostenible.webp)`
        ;
      >
      </div>
      <div
        id="image7"
        class="imagen oculta select-none absolute left-0 top-0 bottom-0 right-0 bg-cover bg-center bg-no-repeat w-full h-full
        bg-blend-luminosity"
        style=`background-image: url(/sostenible.webp)`
        ;
      >
      </div>
      <div
        id="image8"
        class="imagen oculta select-none absolute left-0 top-0 bottom-0 right-0 bg-cover bg-center bg-no-repeat w-full h-full
        bg-blend-luminosity"
        style=`background-image: url(/panoramica-sostenible.webp)`
        ;
      >
      </div>
      <div
        id="image9"
        class="imagen oculta select-none absolute left-0 top-0 bottom-0 right-0 bg-cover bg-center bg-no-repeat w-full h-full
        bg-blend-luminosity"
        style=`background-image: url(/calle-sostenible.webp)`
        ;
      >
      </div>
    </section>
  </article>
</section>

<script>
  document.addEventListener('astro:page-load', () => {
    let images = [
      document.getElementById('image1'),
      document.getElementById('image2'),
      document.getElementById('image3'),
      document.getElementById('image4'),
    ].filter(Boolean) // Filtra cualquier imagen que sea null

    let currentIndex = 0

    setInterval(function () {
      // Asegúrate de que la imagen actual existe antes de intentar acceder a sus propiedades
      if (images[currentIndex]) {
        images[currentIndex].classList.add('oculta')
      }

      currentIndex = (currentIndex + 1) % images.length

      // Asegúrate de que la siguiente imagen existe antes de intentar acceder a sus propiedades
      if (images[currentIndex]) {
        images[currentIndex].classList.remove('oculta')
      }
    }, 4000)

    // Repite el mismo proceso para el segundo conjunto de imágenes
    let images2 = [
      document.getElementById('image6'),
      document.getElementById('image7'),
      document.getElementById('image8'),
      document.getElementById('image9'),
    ].filter(Boolean)

    let currentIndex2 = 0

    setInterval(function () {
      if (images2[currentIndex2]) {
        images2[currentIndex2].classList.add('oculta')
      }

      currentIndex2 = (currentIndex2 + 1) % images2.length

      if (images2[currentIndex2]) {
        images2[currentIndex2].classList.remove('oculta')
      }
    }, 4000)
  })
</script>

<style>
  @media (max-width: 640px) {
    #bento {
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-areas:
        'txt1'
        'img1'
        'txt2'
        'img2'
        'txt3'
        'txt4'
        'img3'
        'txt5'
        'img4'
        'img5';
      grid-template-rows: repeat(10, 20rem);
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media (min-width: 640px) {
    #bento {
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-areas:
        'img1 img1 img1 img1 img1 img1 txt1 txt1 txt1 txt1 txt1 txt1'
        'img1 img1 img1 img1 img1 img1 txt1 txt1 txt1 txt1 txt1 txt1'
        'img1 img1 img1 img1 img1 img1 txt1 txt1 txt1 txt1 txt1 txt1'
        'img1 img1 img1 img1 img1 img1 txt1 txt1 txt1 txt1 txt1 txt1'
        'img1 img1 img1 img1 img1 img1 txt1 txt1 txt1 txt1 txt1 txt1'
        'txt2 txt2 txt2 txt2 img2 img2 img2 img2 img2 img2 img2 img2'
        'txt2 txt2 txt2 txt2 img2 img2 img2 img2 img2 img2 img2 img2'
        'txt2 txt2 txt2 txt2 img2 img2 img2 img2 img2 img2 img2 img2'
        'txt2 txt2 txt2 txt2 img2 img2 img2 img2 img2 img2 img2 img2'
        'txt2 txt2 txt2 txt2 txt3 txt3 txt3 txt3 txt3 txt3 txt3 txt3'
        'txt2 txt2 txt2 txt2 txt3 txt3 txt3 txt3 txt3 txt3 txt3 txt3'
        'txt4 txt4 txt4 txt4 txt4 txt4 img3 img3 img3 img3 img3 img3'
        'txt4 txt4 txt4 txt4 txt4 txt4 img3 img3 img3 img3 img3 img3'
        'txt4 txt4 txt4 txt4 txt4 txt4 img3 img3 img3 img3 img3 img3'
        'txt4 txt4 txt4 txt4 txt4 txt4 img3 img3 img3 img3 img3 img3'
        'txt4 txt4 txt4 txt4 txt4 txt4 img3 img3 img3 img3 img3 img3'
        'txt5 txt5 txt5 txt5 txt5 txt5 txt5 txt5 txt5 txt5 txt5 txt5'
        'txt5 txt5 txt5 txt5 txt5 txt5 txt5 txt5 txt5 txt5 txt5 txt5'
        'img4 img4 img4 img4 img4 img4 img5 img5 img5 img5 img5 img5'
        'img4 img4 img4 img4 img4 img4 img5 img5 img5 img5 img5 img5'
        'img4 img4 img4 img4 img4 img4 img5 img5 img5 img5 img5 img5'
        'img4 img4 img4 img4 img4 img4 img5 img5 img5 img5 img5 img5'
        'img4 img4 img4 img4 img4 img4 img5 img5 img5 img5 img5 img5';
      grid-template-rows: repeat(23, 5rem);
      grid-template-columns: repeat(12, 1fr);
    }
  }

  .img1 {
    grid-area: img1;
  }

  .txt1 {
    grid-area: txt1;
  }

  .img2 {
    grid-area: img2;
  }

  .txt2 {
    grid-area: txt2;
  }
  .txt3 {
    grid-area: txt3;
  }
  .txt4 {
    grid-area: txt4;
  }
  .img3 {
    grid-area: img3;
  }
  .txt5 {
    grid-area: txt5;
  }
  .img4 {
    grid-area: img4;
  }
  .img5 {
    grid-area: img5;
  }

  .imagen {
    /* Inicialmente, la imagen está completamente visible */
    opacity: 1;

    /* La transición se aplica a la propiedad de opacidad, dura 0.5 segundos y tiene un efecto de "ease" */
    transition: opacity 1s ease-in-out;
  }

  .imagen.oculta {
    /* Cuando se aplica la clase "oculta", la imagen se vuelve completamente transparente */
    opacity: 0;
  }

  @keyframes move-right {
    from {
      transform: translateX(-40px);
      opacity: 0;
      visibility: hidden;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes move-left {
    from {
      transform: translateX(40px);
      opacity: 0;
      visibility: hidden;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes fade-in {
    from {
      transform: scale(50%);
      opacity: 0;
    }

    to {
      transform: scale(100%);
      opacity: 1;
    }
  }

  @media (width<1024px) {
    .group-left {
      view-timeline-name: --text;
      view-timeline-axis: block;
      animation-timeline: --text;
      animation-name: fade-in;
      animation-range: entry 15% cover 25%;
      animation-fill-mode: both;
      animation-timing-function: linear;
    }

    .group-right {
      view-timeline-name: --text;
      view-timeline-axis: block;
      animation-timeline: --text;
      animation-name: fade-in;
      animation-range: entry 15% cover 25%;
      animation-fill-mode: both;
      animation-timing-function: linear;
    }
  }

  @media (width>=1024px) {
    .group-left {
      view-timeline-name: --text;
      view-timeline-axis: block;
      animation-timeline: --text;
      animation-name: move-right;
      animation-range: entry 15% cover 25%;
      animation-fill-mode: both;
      animation-timing-function: linear;
    }

    .group-right {
      view-timeline-name: --text;
      view-timeline-axis: block;
      animation-timeline: --text;
      animation-name: move-left;
      animation-range: entry 15% cover 25%;
      animation-fill-mode: both;
      animation-timing-function: linear;
    }
  }

  .group-up {
    view-timeline-name: --text;
    view-timeline-axis: block;
    animation-timeline: --text;
    animation-name: fade-in;
    animation-range: entry 15% cover 25%;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }
</style>
