---
interface Props {
  class?: string
  img: string
}

const { img } = Astro.props
---

<div
  class="select-none absolute left-0 top-0 bottom-0 right-0 bg-cover bg-center bg-no-repeat w-full h-full
        opacity-90 bg-blend-luminosity"
  style=`background-image: url(${img})`;
>
</div>
