---
import BentoItem from './BentoItem.astro'
---

<section
  class="flex flex-col gap-5 justify-center items-center max-w-3xl m-auto mt-20 mb-10 text-lg px-5 md:px-24 lg:px-5 group"
>
  <h1
    class="group-up text-balance geist-bold text-3xl md:text-4xl lg:text-5xl md:text-center mb-10 text-[#283f2c]"
  >
    COMUNIDADES PRECCO
  </h1>

  <p class="group-up text-pretty">
    Las <strong>comunidades PRECCO</strong> son un innovador ejemplo de <strong
      class="text-[#7EB56A]"
    >
      vida sostenible y eficiencia ecológica
    </strong>. Se caracterizan por su <strong>
      compromiso con el medio ambiente
    </strong>, integrando tecnologías verdes y prácticas sustentables que
    fomentan la biodiversidad y el uso de energías renovables.

    <p class="group-up text-pretty">
      Este enfoque holístico hacia la sostenibilidad busca no solo <strong>
        reducir el impacto ambiental
      </strong>, sino también <strong>
        mejorar la calidad de vida de sus residentes
      </strong>.
    </p>
  </p>
</section>

<section>
  <article
    class="w-full max-w-[1400px] grid grid-cols-10 gap-4 auto-rows-[25rem] mx-auto p-2 md:p-12 lg:p-8"
  >
    <!-- IMAGEN GRID COMUNIDAD SOSTENIBLE -->
    <BentoItem
      class="col-span-10 lg:col-span-5 group-left"
      title="Comunidad Sostenible"
      description="El Eco-Urbanismo Integrado combina fachadas y tejados verdes con una arquitectura eco-compatible, creando un entorno urbano sostenible y en armonía con la naturaleza."
    >
      <div
        slot="image"
        class="select-none absolute left-0 top-0 bottom-0 right-0 bg-cover bg-center bg-no-repeat w-full h-full
        transition-scale duration-1000 ease-in-out group-hover:scale-110 opacity-90 bg-blend-luminosity"
        style="background-image: url(/comunidad-sostenible.webp);"
      >
      </div>
    </BentoItem>

    <!-- IMAGEN GRID ENTRADA -->
    <BentoItem
      class="col-span-10 lg:col-span-5 group-right"
      title="Luminosidad y Amplitud"
      description="La iluminación moderna en la entrada de nuestra urbanización crea un ambiente seguro y elegante para todos los residentes, reflejando nuestro enfoque contemporáneo."
    >
      <div
        slot="image"
        class="select-none absolute left-0 top-0 bottom-0 right-0 bg-cover bg-center bg-no-repeat w-full h-full
        transition-scale duration-1000 ease-in-out group-hover:scale-110 opacity-90 bg-blend-luminosity"
        style="background-image: url(/entrada.webp);"
      >
      </div>
    </BentoItem>

    <!-- IMAGEN GRID BICIS ELÉCTRICAS -->
    <BentoItem
      class="col-span-10 lg:col-span-4 group-left"
      title="Transporte"
      description="Ofrecemos bicicletas eléctricas accesibles para inquilinos, promoviendo la movilidad sostenible y un estilo de vida respetuoso con el medio ambiente."
    >
      <div
        slot="image"
        class="select-none absolute left-0 top-0 bottom-0 right-0 bg-cover bg-center bg-no-repeat w-full h-full
        transition-scale duration-1000 ease-in-out group-hover:scale-110 opacity-90 bg-blend-luminosity"
        style="background-image: url(/bicis-electricas.webp);"
      >
      </div>
    </BentoItem>

    <!-- IMAGEN GRID INTERIOR -->
    <BentoItem
      class="col-span-10 lg:col-span-6 group-right"
      title="Hall Central"
      description="El hall ofrece comodidad y un ascensor de fácil acceso situado en el centro de la urbanización."
    >
      <div
        slot="image"
        class="select-none absolute left-0 top-0 bottom-0 right-0 bg-cover bg-center bg-no-repeat w-full h-full
        transition-scale duration-1000 ease-in-out group-hover:scale-110 opacity-90 bg-blend-luminosity"
        style="background-image: url(/interior.webp);"
      >
      </div>
    </BentoItem>

    <!-- IMAGEN GRID PANEL SOLAR -->
    <BentoItem
      class="col-span-10 lg:col-span-6 group-left"
      title="Tejados Solares"
      description="La instalación de placas solares en los tejados llevada a cabo para respaldar la energía renovable y convertir nuestra urbanización en un modelo de sostenibilidad energética."
    >
      <div
        slot="image"
        class="select-none absolute left-0 top-0 bottom-0 right-0 bg-cover bg-center bg-no-repeat w-full h-full
        transition-scale duration-1000 ease-in-out group-hover:scale-110 opacity-90 bg-blend-luminosity"
        style="background-image: url(/panel-solar.webp);"
      >
      </div>
    </BentoItem>

    <!-- IMAGEN GRID PAPELERAS RECICLABLES -->
    <BentoItem
      class="col-span-10 lg:col-span-4 group-right"
      title="Reciclaje Eficiente"
      description="Un sistema en las viviendas facilita el reciclaje sin salir de casa, centralizando la basura a través de conductos internos y llevándola a un punto común para su limpieza."
    >
      <div
        slot="image"
        class="select-none absolute left-0 top-0 bottom-0 right-0 bg-cover bg-center bg-no-repeat w-full h-full
        transition-scale duration-1000 ease-in-out group-hover:scale-110 opacity-90 bg-blend-luminosity"
        style="background-image: url(/papeleras.webp);"
      >
      </div>
    </BentoItem>
  </article>
</section>

<style>
  .group-up {
    view-timeline-name: --text;
    view-timeline-axis: block;
    animation-timeline: --text;
    animation-name: fade-in;
    animation-range: entry 15% cover 30%;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }

  @keyframes fade-in {
    from {
      transform: scale(65%);
      opacity: 0;
    }

    to {
      transform: scale(100%);
      opacity: 1;
    }
  }
</style>
