<section class="flex flex-col gap-5 justify-center items-center max-w-2xl m-auto mb-20 text-lg px-5">
  <p class="text-pretty">
    <strong>Bienvenido a PRECCO</strong>, el futuro de la vida urbana. En nuestra
    búsqueda de un mañana más sostenible, creamos un proyecto que redefine la
    forma en que vivimos y construimos comunidades.
  </p>

  <p class="text-pretty">
    Descubre cómo PRECCO se convierte en la respuesta al llamado del <strong
       class="text-orange-400">Objetivo 11 de la Agenda 2030</strong
    > de las Naciones Unidas. Únete a nosotros en la creación de ciudades y comunidades
    más
    <strong class="text-green-600">sostenibles, inclusivas e inteligentes</strong>. 
  </p>

  <p>
    <strong>¡Bienvenido al cambio!</strong>
  </p>
</section>
