<section
  class="flex flex-col gap-5 justify-center items-center max-w-3xl m-auto mb-20 text-lg px-5 md:px-24 lg:px-5 group"
>
  <h1
    class="text-balance geist-black text-3xl lg:text-5xl mb-10 md:text-center"
  >
    TRAZANDO EL FUTURO SOSTENIBLE
  </h1>
  <p class="text-pretty">
    <strong>Bienvenido a PRECCO</strong>, el futuro de la vida urbana. En
    nuestra búsqueda de un mañana más sostenible, creamos un proyecto que
    redefine la forma en que vivimos y construimos comunidades.
  </p>

  <p class="text-pretty">
    Descubre cómo PRECCO se convierte en la respuesta al llamado del <strong
      class="text-orange-400">Objetivo 11 de la Agenda 2030</strong
    > de las Naciones Unidas. Únete a nosotros en la creación de ciudades y comunidades
    más
    <strong class="text-green-600"
      >sostenibles, inclusivas e inteligentes</strong
    >.
  </p>

  <p class="text-pretty">
    <strong>¡Bienvenido al cambio!</strong>
  </p>
</section>

<style>
  @keyframes move-up {
    from {
      transform: translateY(100px);
      opacity: 0;
      visibility: hidden;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes fade-in {
    from {
      transform: scale(50%);
      opacity: 0;
    }

    to {
      transform: scale(100%);
      opacity: 1;
    }
  }

  @media (width>=768px) {
    .group {
      view-timeline-name: --text;
      view-timeline-axis: block;
      animation-timeline: --text;
      animation-name: fade-in;
      animation-range: entry 15% cover 30%;
      animation-fill-mode: both;
      animation-timing-function: linear;
    }
  }
</style>
