---
import Tarjeta from './Tarjeta.astro'
---


<section
  class="flex flex-col gap-5 justify-center items-center max-w-3xl m-auto mb-20 text-lg px-5 md:px-24 lg:px-5"
>
  <h1
    class="text-balance geist-black text-3xl lg:text-5xl mb-10 md:text-center text-[#283f2c]"
  >
    TRAZANDO EL FUTURO SOSTENIBLE
  </h1>

  <section class="flex flex-col justify-center items-center gap-7">
    <article
      class="flex flex-col lg:flex-row justify-center items-center gap-7"
    >
        <Tarjeta
          img="/bosque.webp"
          title="¿Qué es PRECCO?"
          text="PRECCO es una iniciativa que busca transformar las comunidades urbanas en entornos sostenibles y conectados con la naturaleza."
        />
        <Tarjeta
          img="/rio.webp"
          title="¿Qué objetivos tiene?"
          text="El proyecto ECCO pretende aumentar el transporte limpio, promover la construcción horizontal y generar ciudades que funcionen como corredores ecológicos."
        />
        <Tarjeta
          img="/plaza.webp"
          title="¿Cómo se consiguen?"
          text="Para cumplir los objetivos, PRECCO ha creado comunidades modelo dotadas de innovaciones ecológicas que establecen un estándar para el futuro urbano."
        />
    </article>
  </section>
</section>


<style>
  @keyframes move-up {
    from {
      transform: translateY(100px);
      opacity: 0;
      visibility: hidden;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes fade-in {
    from {
      transform: scale(50%);
      opacity: 0;
    }

    to {
      transform: scale(100%);
      opacity: 1;
    }
  }

  @media (width>=768px) {
    .group {
      view-timeline-name: --text;
      view-timeline-axis: block;
      animation-timeline: --text;
      animation-name: fade-in;
      animation-range: entry 15% cover 30%;
      animation-fill-mode: both;
      animation-timing-function: linear;
    }
  }
</style>
