<div
  class="sticky inset-0 h-full w-full bg-[#efefef] bg-[linear-gradient(to_right,#d1d1d1_1px,transparent_1px),linear-gradient(to_bottom,#d1d1d1_1px,transparent_1px)] bg-[size:6rem_4rem]"
>
  <!-- VERDE: #b2ffc0 -->
  <!-- ORIGINAL: #f0f0f0 -->
  <slot />
</div>
