---
import GaleriaItem from './GaleriaItem.astro'
---

<h1 class="text-balance geist-bold text-3xl lg:text-3xl md:text-center mb-10 px-5 text-[#283f2c]">
  TRAZANDO EL FUTURO SOSTENIBLE
</h1>
<section class="w-full lg:flex overflow-hidden">
  <GaleriaItem
    title="¿QUÉ ES PRECCO?"
    text="PRECCO es una iniciativa que busca transformar las comunidades urbanas en entornos sostenibles y conectados con la naturaleza."
    img="/rio.webp"
  />
  <GaleriaItem
    title="¿CÓMO SURGIÓ LA IDEA?"
    text="Para cumplir los objetivos, PRECCO ha creado comunidades modelo dotadas de innovaciones ecológicas que establecen un estándar para el futuro urbano."
    img="/idea.webp"
  />
  <GaleriaItem
    title="¿QUÉ OBJETIVOS TIENE?"
    text="El proyecto ECCO pretende aumentar el transporte limpio, promover la construcción horizontal y generar ciudades que funcionen como corredores ecológicos."
    img="/plaza.webp"
  />
  <GaleriaItem
    title="¿CÓMO SE CONSIGUEN LOS OBJETIVOS?"
    text="Para cumplir los objetivos, PRECCO ha creado comunidades modelo dotadas de innovaciones ecológicas que establecen un estándar para el futuro urbano."
    img="/bosque.webp"
  />
  <GaleriaItem
    title="AGENDA 2030"
    text="Para cumplir los objetivos, PRECCO ha creado comunidades modelo dotadas de innovaciones ecológicas que establecen un estándar para el futuro urbano."
    img="/agenda2030.webp"
  />
</section>
