---

---

<header
  id="nav-menu"
  class="w-full fixed top-0 h-[15vh] grid grid-cols-1 md:grid-cols-3 justify-items-center items-center bg-transparent z-50 text-white"
>
  <figure class="hidden md:block">
    <img
      id="miniLogo"
      class="w-28 lg:w-32 hover:scale-110 hover:cursor-pointer transition-all duration-500 ease-in-out"
      src="/precco-mini-blanco.png"
      alt="Logotipo de precco"
    />
  </figure>

  <figure class="md:hidden">
    <img
      id="fullLogo"
      class="w-40 hover:scale-110 transition-all duration-500 ease-in-out"
      src="/precco-logo-blanco.png"
      alt="Logotipo de precco"
    />
  </figure>

  <ul class="hidden md:flex gap-5 md:text-sm lg:text-base">
    <li class="hover:scale-110 hover:text-[#7DB569] transition-all duration-500 ease-in-out">
      <a href="/">Inicio</a>
    </li>
    <li class="hover:scale-110 hover:text-[#7DB569]  transition-all duration-500 ease-in-out">
      <a href="/ventajas">Ventajas</a>
    </li>
    <li class="hover:scale-110 hover:text-[#7DB569]  transition-all duration-500 ease-in-out">
      <a href="#IA">IA</a>
    </li>
  </ul>

  <ul class="hidden md:flex justify-center items-center gap-5">
    <li class="hover:scale-110 transition-all duration-500 ease-in-out">
      <a href="https://www.linkedin.com/in/alvarobarcenalasala/" target="_blank"
        ><svg
          class="cursor-pointer"
          width="18"
          height="18"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid"
          viewBox="0 0 256 256"
          ><path
            d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453"
            fill="white"></path></svg
        >
      </a>
    </li>
    <li class="hover:scale-110 transition-all duration-500 ease-in-out">
      <a href="https://github.com/polkadeveloper" target="_blank"
        ><svg
          id="github"
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 432 432"
          fill="white"
          ><path
            d="M43 3h341q18 0 30.5 12.5T427 45v342q0 17-12.5 29.5T384 429H274q-7-1-7-21v-58q0-27-15-40q44-5 70.5-27t26.5-78q0-33-22-57q11-26-2-57q-18-6-58 22q-26-7-54-7t-53 7q-18-12-32.5-17.5T107 91h-6q-12 31-2 57q-22 24-22 57q0 55 27 77.5t70 27.5q-11 10-13 29q-42 18-62-18q-12-20-33-22q-2 0-4.5.5T56 303t8 9q15 7 24 31q1 2 2 4.5t6.5 9.5t13 10.5T130 374t30-2v36q0 20-8 21H43q-18 0-30.5-12.5T0 387V45q0-17 12.5-29.5T43 3"
          ></path></svg
        ></a
      >
    </li>
  </ul>
</header>

<style>
  #nav-menu {
    animation:
      blur linear both;
    animation-timeline: scroll();
    animation-range: 0 351px;
  }

  @keyframes blur {
    to {
      height: 10vh;
      backdrop-filter: blur(35px);
      box-shadow: 0px 5px 50px -5px hsla(0, 0%, 100%, 0.1) 0px 0px 0 1px hsla(0, 0%, 100%, 0.1);
      background: rgba(0, 0, 0, 0.5);
    }
  }

  @keyframes fillWhite {
    to {
      fill: white;
    }
  }

</style>

<!-- <script>
  const miniLogo = document.getElementById('miniLogo') as HTMLImageElement
  const fullLogo = document.getElementById('fullLogo') as HTMLImageElement

  window.addEventListener(
    'scroll',
    function () {
      let scrollTop = window.scrollY || document.documentElement.scrollTop
      if (scrollTop >= 400) {
        // Al bajar
        miniLogo.src = '/precco-mini-blanco.png'
        fullLogo.src = '/precco-logo-blanco.png'
      } else if (scrollTop < 10) {
        // Al subir
        miniLogo.src = '/precco-mini.png'
        fullLogo.src = '/precco-logo.png'
      }
    },
    false,
  )
</script> -->
