<section
  class="h-screen text-white flex flex-col justify-center items-center md:pb-0"
>
  <article
    class="max-w-5xl flex flex-col justify-center items-center gap-5 pt-28 md:pt-0"
  >
    <h1
      class="text-balance geist-black text-3xl md:text-4xl xl:text-5xl md:text-center px-5"
    >
      Las mejoras del uso de herramientas de IA en el desarrollo de PRECCO
    </h1>
    <p class="text-pretty geist-light text-base xl:text-lg md:text-center px-5">
      Para el desarrollo del software de la idea de PRECCO hemos utilizado
      distintas herramientas de Inteligencia Artificial como ChatGPT, DALL·E,
      GitHub Copilot y Canva.
    </p>
    <ul class="flex justify-center items-center gap-5 md:gap-10">
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 48 48"
          ><path
            fill="none"
            stroke="#ffffff"
            stroke-linejoin="round"
            d="M18.38 27.94v-14.4l11.19-6.46c6.2-3.58 17.3 5.25 12.64 13.33"
          ></path><path
            fill="none"
            stroke="#ffffff"
            stroke-linejoin="round"
            d="m18.38 20.94l12.47-7.2l11.19 6.46c6.2 3.58 4.1 17.61-5.23 17.61"
          ></path><path
            fill="none"
            stroke="#ffffff"
            stroke-linejoin="round"
            d="m24.44 17.44l12.47 7.2v12.93c0 7.16-13.2 12.36-17.86 4.28"
          ></path><path
            fill="none"
            stroke="#ffffff"
            stroke-linejoin="round"
            d="M30.5 21.2v14.14L19.31 41.8c-6.2 3.58-17.3-5.25-12.64-13.33"
          ></path><path
            fill="none"
            stroke="#ffffff"
            stroke-linejoin="round"
            d="m30.5 27.94l-12.47 7.2l-11.19-6.46c-6.21-3.59-4.11-17.61 5.22-17.61"
          ></path><path
            fill="none"
            stroke="#ffffff"
            stroke-linejoin="round"
            d="m24.44 31.44l-12.47-7.2V11.31c0-7.16 13.2-12.36 17.86-4.28"
          ></path></svg
        >
      </li>
      <li>DALL·E 3</li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          ><g
            fill="none"
            stroke="#ffffff"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            ><path d="M4 18v-5.5c0-.667.167-1.333.5-2"></path><path
              d="M12 7.5c0-1-.01-4.07-4-3.5c-3.5.5-4 2.5-4 3.5c0 1.5 0 4 3 4c4 0 5-2.5 5-4M4 12c-1.333.667-2 1.333-2 2c0 1 0 3 1.5 4c3 2 6.5 3 8.5 3s5.499-1 8.5-3c1.5-1 1.5-3 1.5-4c0-.667-.667-1.333-2-2"
            ></path><path d="M20 18v-5.5c0-.667-.167-1.333-.5-2"></path><path
              d="M12 7.5v-.297l.01-.269l.027-.298l.013-.105l.033-.215c.014-.073.029-.146.046-.22l.06-.223c.336-1.118 1.262-2.237 3.808-1.873c2.838.405 3.703 1.797 3.93 2.842l.036.204c0 .033.01.066.013.098l.016.185v.661l-.015.394l-.02.271c-.122 1.366-.655 2.845-2.962 2.845c-3.256 0-4.524-1.656-4.883-3.081l-.053-.242a3.865 3.865 0 0 1-.036-.235l-.021-.227a3.518 3.518 0 0 1-.007-.215zM10 15v2m4-2v2"
            ></path></g
          ></svg
        >
      </li>
      <li>
        <svg
          width="29"
          height="29"
          viewBox="0 0 80 80"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_905_1790)">
            <path
              d="M40 80C62.0914 80 80 62.0914 80 40C80 17.9086 62.0914 0 40 0C17.9086 0 0 17.9086 0 40C0 62.0914 17.9086 80 40 80Z"
              fill="#7D2AE7"></path>
            <path
              d="M40 80C62.0914 80 80 62.0914 80 40C80 17.9086 62.0914 0 40 0C17.9086 0 0 17.9086 0 40C0 62.0914 17.9086 80 40 80Z"
              fill="url(#paint0_radial_905_1790)"></path>
            <path
              d="M40 80C62.0914 80 80 62.0914 80 40C80 17.9086 62.0914 0 40 0C17.9086 0 0 17.9086 0 40C0 62.0914 17.9086 80 40 80Z"
              fill="url(#paint1_radial_905_1790)"></path>
            <path
              d="M40 80C62.0914 80 80 62.0914 80 40C80 17.9086 62.0914 0 40 0C17.9086 0 0 17.9086 0 40C0 62.0914 17.9086 80 40 80Z"
              fill="url(#paint2_radial_905_1790)"></path>
            <path
              d="M40 80C62.0914 80 80 62.0914 80 40C80 17.9086 62.0914 0 40 0C17.9086 0 0 17.9086 0 40C0 62.0914 17.9086 80 40 80Z"
              fill="url(#paint3_radial_905_1790)"></path>
            <path
              d="M57.2691 48.2052C56.939 48.2052 56.6485 48.484 56.3462 49.0928C52.9323 56.0153 47.0358 60.9134 40.2125 60.9134C32.3228 60.9134 27.437 53.7913 27.437 43.9522C27.437 27.2855 36.7232 17.6491 44.8796 17.6491C48.691 17.6491 51.0186 20.0443 51.0186 23.8559C51.0186 28.3796 48.4485 30.7748 48.4485 32.3702C48.4485 33.0864 48.8939 33.5201 49.7773 33.5201C53.3264 33.5201 57.4918 29.4419 57.4918 23.6808C57.4918 18.0947 52.63 13.9888 44.4737 13.9888C30.994 13.9888 19.0142 26.4858 19.0142 43.777C19.0142 57.1614 26.6572 66.0061 38.45 66.0061C50.9668 66.0061 58.2043 53.5526 58.2043 49.5105C58.2043 48.6153 57.7466 48.2052 57.2691 48.2052Z"
              fill="white"></path>
          </g>
          <defs>
            <radialGradient
              id="paint0_radial_905_1790"
              cx="0"
              cy="0"
              r="1"
              gradientUnits="userSpaceOnUse"
              gradientTransform="translate(15.453 70.9057) rotate(-49.416) scale(61.8733)"
            >
              <stop stop-color="#6420FF"></stop>
              <stop offset="1" stop-color="#6420FF" stop-opacity="0"></stop>
            </radialGradient>
            <radialGradient
              id="paint1_radial_905_1790"
              cx="0"
              cy="0"
              r="1"
              gradientUnits="userSpaceOnUse"
              gradientTransform="translate(21.1788 9.09457) rotate(54.703) scale(69.7735)"
            >
              <stop stop-color="#00C4CC"></stop>
              <stop offset="1" stop-color="#00C4CC" stop-opacity="0"></stop>
            </radialGradient>
            <radialGradient
              id="paint2_radial_905_1790"
              cx="0"
              cy="0"
              r="1"
              gradientUnits="userSpaceOnUse"
              gradientTransform="translate(15.4526 70.9053) rotate(-45.1954) scale(61.1242 28.1118)"
            >
              <stop stop-color="#6420FF"></stop>
              <stop offset="1" stop-color="#6420FF" stop-opacity="0"></stop>
            </radialGradient>
            <radialGradient
              id="paint3_radial_905_1790"
              cx="0"
              cy="0"
              r="1"
              gradientUnits="userSpaceOnUse"
              gradientTransform="translate(32.7158 10.7789) rotate(66.5198) scale(62.9836 105.512)"
            >
              <stop stop-color="#00C4CC" stop-opacity="0.725916"></stop>
              <stop offset="0.0001" stop-color="#00C4CC"></stop>
              <stop offset="1" stop-color="#00C4CC" stop-opacity="0"></stop>
            </radialGradient>
            <clipPath id="clip0_905_1790">
              <rect width="80" height="80" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </li>
    </ul>
  </article>
</section>
