---
interface Props {
  class?: string
  img: string
}

const { img } = Astro.props
---

<!-- clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0); -->
<article class="h-screen md:h-[120vh] mb-10">
  <section
    class="h-full w-full"
    style=`background-image: url(${img}); background-position: center; background-attachment: fixed; background-repeat: no-repeat; background-size: cover; aspect-ratio: 3:2;`
  >
    <section
      class="h-full flex flex-col gap-5 justify-center items-center backdrop-blur-sm bg-black/40"
    >
      <slot />
    </section>
  </section>
</article>
