<article class=" h-screen lg:h-[125vh]">

    <section class="h-full w-full relative" style="clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0); background-image: url(/fondo.webp); background-position: center; background-repeat: no-repeat; background-size: cover; aspect-ratio: 360:257;">
    </section>
        

</article>