---
interface Props {
  class?: string
  img: string
  title: string
  text: string
}

const { img, title, text } = Astro.props
---

<section
  class="w-72 xl:w-96 flex flex-col justify-center items-center gap-3 p-5"
>
  <h1 class="text-xl opacity-80">{title}</h1>
  <article
    class="w-full h-64 rounded-xl relative flex justify-center items-center overflow-hidden"
    style=`background-image: url(${img}); background-position:center; background-size: cover; background-repeat: no-repeat;`
  >
    <p class="text-pretty text-white px-5 z-10 text-center">
      {text}
    </p>

    <div
      class="absolute z-0 bottom-0 top-0 w-full h-full bg-gradient-to-b from-black/30 via-black/50 to-black/70"
    >
    </div>
  </article>
</section>
