---
import FondoBolaRosa from '../components/FondoBolaRosa.astro'
import FondoCuadros from '../components/FondoCuadros.astro'
import FondoU from '../components/FondoU.astro'
import FondoBolaCentro from '../components/FondoBolaCentro.astro'
import FondoGris from '../components/FondoGris.astro'
import FondoCuadrosNegro from '../components/FondoCuadrosNegro.astro'
import FondoDegradado from '../components/FondoDegradado.astro'
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body>
    <FondoCuadrosNegro>
      <slot />
    </FondoCuadrosNegro>
  </body>
</html>
<style is:global>
  html {
    font-family: 'Geist Medium', system-ui, sans-serif;
    font-size: 1.2rem;
    color-scheme: light dark;
    color: white;
  }

  @font-face {
    font-family: 'Geist Black';
    src: url('/../../../node_modules/geist/dist/fonts/geist-sans/Geist-Black.woff2');
  }

  .geist-black {
    font-family: 'Geist Black', sans-serif;
  }

  @font-face {
    font-family: 'Geist Bold';
    src: url('/../../../node_modules/geist/dist/fonts/geist-sans/Geist-Bold.woff2');
  }

  .geist-bold {
    font-family: 'Geist Bold', sans-serif;
  }

  @font-face {
    font-family: 'Geist ExtraBold';
    src: url('/../../../node_modules/geist/dist/fonts/geist-sans/Geist-ExtraBold.woff2');
  }

  .geist-extrabold {
    font-family: 'Geist ExtraBold', sans-serif;
  }

  @font-face {
    font-family: 'Geist ExtraLight';
    src: url('/../../../node_modules/geist/dist/fonts/geist-sans/Geist-ExtraLight.woff2');
  }

  .geist-extralight {
    font-family: 'Geist ExtraLight', sans-serif;
  }

  @font-face {
    font-family: 'Geist Light';
    src: url('/../../../node_modules/geist/dist/fonts/geist-sans/Geist-Light.woff2');
  }

  .geist-light {
    font-family: 'Geist Light', sans-serif;
  }

  @font-face {
    font-family: 'Geist Medium';
    src: url('/../../../node_modules/geist/dist/fonts/geist-sans/Geist-Medium.woff2');
  }

  .geist-medium {
    font-family: 'Geist Medium', sans-serif;
  }

  @font-face {
    font-family: 'Geist Regular';
    src: url('/../../../node_modules/geist/dist/fonts/geist-sans/Geist-Regular.woff2');
  }

  .geist-regular {
    font-family: 'Geist Regular', sans-serif;
  }

</style>
